@page "/"

<PageTitle>Index</PageTitle>




<div class="buffer row align-items-center text-center">
    <h1>Welcome to OTBIS! </h1>
    <h2>Your one stop for all reporting Odyssey Trust Site Wide.</h2>
</div>
<container class="main-back">
<div class="row align-items-center">
    <div class="col align-items-center visualRow">
            <div class="card" style="width: 18rem;">
                <img src="/css/images/bar graph.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Three of three columns.</p>
                </div>
            </div>
    </div>
    <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/css/images/pie graph image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Three of three columns.</p>
                </div>
            </div>
    </div>
    <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/css/images/DataHero_Users_by_Creation_Date_and_Life_Cycle_Stage_1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Three of three columns.</p>
                </div>
            </div>
    </div>
    </div>
<div class="row align-items-center">
    <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/css/images/line-graph-excel.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Three of three columns.</p>
                </div>
            </div>
    </div>
    <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/css/images/bar graph.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Three of three columns.</p>
                </div>
            </div>
    </div>
    <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/css/images/pie graph image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Three of three columns.</p>
                </div>
            </div>
    </div>
</div>
<div class="row align-items-center">

 
</div>
</container>
