<AuthorizeView>
    <Authorized>

        <div>
            <div class="container-fluid logo px-3">
                
>
                @*<a class="navbar-brand pl-4" href="/"><img src="/css/images/otbis-high-resolution-logo-color-on-transparent-background.png" /></a>*@
            </div>
            <div>
                <a href="Identity/Account/Manage">Hello, @context.User.Identity?.Name!</a>
            </div>
            <div>   
            <form method="post" action="Identity/Account/LogOut">
                <button type="submit" class="nav-link btn btn-link">Log out</button>
                </form>
            </div>
        </div>

    </Authorized>
    <NotAuthorized>
        <div class ="container-fluid logo px-3">
            
            @*<a class="navbar-brand pl-4" href="/"><img src="/css/images/otbis-high-resolution-logo-color-on-transparent-background.png" /></a>*@
        </div>
        <a class="login" href="Identity/Account/Register">Register</a>
        <a class="login"  href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
