
.spinner[b-zwz4f86pra] {
    border: 16px solid silver;
    border-top: 16px solid #337AB7;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin-b-zwz4f86pra 700ms linear infinite;
    top: 40%;
    left: 55%;
    position: absolute;
}

@keyframes spin-b-zwz4f86pra {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}
.rz-dropdown[b-zwz4f86pra] {
    display: grid !important;
}
body[b-zwz4f86pra] {
}
.grid-container[b-zwz4f86pra] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

#blazor-error-ui[b-zwz4f86pra] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
spanO[b-zwz4f86pra] {
    color: #113e4a;
}

    #blazor-error-ui .dismiss[b-zwz4f86pra] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }